.header {
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(9, 18, 66, 1);
    color: #FFFFFF;
    margin-bottom: 0;
}

.header_img {
    margin-right: 244px;
}

.nav {
    display: flex;
    font-family: krub-regular;
    gap: 39px;
}

.nav_wrap {
    display: flex;
    align-items: center;
}

.nav_img {
    margin-right: 17px;
}

.nav_text {
    font-size: 14px;
}

.nav_text span {
    display: block;
}